body
{
    height: 1268px;
}
.faq
{
    margin-top:50px;
    margin-bottom:50px;
}
.fag-question2
{
    margin-bottom:50px;
}
.fag-question3
{
    margin-top:50px;
    margin-bottom:50px;
}